body {
  height: 100vh !important;

  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.content {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

#root {
  height: 100% !important;
}

.layout {
  min-height: 100% !important;
}
